.container {
  display: flex;
  gap: 100px;
  /* background-color: aqua; */
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
}

.textContainer {
  /* background-color: blue; */
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 64px;
}

.detail {
  /* background-color: brown; */
  display: flex;
  gap: 20px;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

.texts {
  background-color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtitle {
  color: gray;
  font-weight: bold;
}

.value {
  font-weight: 500;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table td {
  padding: 15px;
  border: 1px solid #ffffff; /* Border color */
}

.table .subtitle {
  width: 30%;
  text-align: left;
  background-color: #1F1E36; /* Background color of subtitle cells */
}

.table .value {
  width: 70%;
  text-align: left;
  background-color: #0D0C21; /* Background color of value cells */
}

.table tr:nth-child(even) {
  background-color: #1F1E36; /* Alternate row color */
}

.table tr:hover {
  background-color: #29284B; /* Hover color */
}

@media (max-width:768px){
  .imgContainer{
    display: none;
  }
}