.cont{
  
    justify-content: space-between;

}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .container input,
  .container textarea,
  .container select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .container button,
  .cont button { 
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
    margin-top: 20px;
  }
  .secondaryButton {
    background-color: #FF5733 !important; 
  }
  .check{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(61, 183, 236);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }

  .datetimeContainer {
    display: flex;
    flex-direction: column;
  }
  
  .datetimeLabel {
    font-weight: bold;
    margin-bottom: 8px; 
  }
  
  .datetimeContainer input {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }

  