.container{
  background-color: #1f0425;

  border: 2px solid #1f0425;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding:  16px;
    
  }
  .container:hover {
    box-shadow: 0 8px 16px 0 rgba(238, 235, 235, 0.2);
  }
  
  
  .top{
    display: flex;
  }
  
  .imgContainer{
  
  


    
    width: 100%;
    height: 400px;
    position: relative;
   
  }
  .imgContainer title{
    
 
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .img{
    
    object-fit: cover;
  }
  
  .date{
    font-size: 6px;
    transform: rotate(270deg);
    margin: auto;
  }
  
  .title{
    color: #ffffff;
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .desc{
    width: 100%;
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
  }
  
  .link{
    
    
   
  }

  .container button{
    border-radius: 10px;
    border: 2px solid #ffffff;
    outline: 0;
    margin-left: 0%; 
    padding: 12px;
    color: #ffffff;
    background-color: #1f0425;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .container button:hover {
    opacity: 0.7;
  }

  .details {
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .label {
    font-weight: bold;
    padding-right: 10px;
  }
  
  .table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  